proj such that it should be shown
3 - basic obj to scene/node_modules
4 - tranform objects/node_modules
4 - tranform objects/static

5 - animations and further lessons onwards inside this folder lol/node_modules

5 - animations and further lessons onwards inside this folder lol/static

5 - animations and further lessons onwards inside this folder lol/src/_26_code_structuring_for_bigger_projs
