proj such that it should be shown
haunted house

3 - basic obj to scene/node_modules
4 - tranform objects/node_modules
4 - tranform objects/static

advanced projects onwards this folder/node_modules

advanced projects onwards this folder/static

advanced projects onwards this folder/src/_26_code_structuring_for_bigger_projs
